.App {
  font-family: sans-serif;
  text-align: center;
}

.container{
  color: rgb(99, 160, 82);
  height: 20rem;
  text-align: center;
  padding: 1rem 4rem;
}

.center{
  text-align: center;
  margin-bottom: 3rem;
}

.btn{
  background-color:rgb(200, 216, 195);
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  border: none;
  cursor: pointer;
  color: rgb(87, 78, 78);
  transition: all .3s;
}

.btn:hover{
  background-color: rgb(157, 217, 140);
  transform: scale(1.2);
  cursor: pointer;
}

.count{
  color: rgb(132, 139, 116);
  text-align: center;
}